@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
	--green:#3A9943;
  }
  
body{
	margin:0;
	padding: 0;
	font-family: poppins;
	background-color: #EFF9DA;
	/*background-image: url(wallback.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center
	height: 100vh;*/	
}

.mainbrand{
	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding:1rem 8%;
	background:linear-gradient(to right,#e5ffe3,#acc4a2);
}

.mainbrand .slogan{
	font-weight: bolder;
	text-shadow: 2px 2px 3px #1a1a1ab0;
  	font-size: 2rem;
  	color:#fff;
}


  


.cookwrapper{
  position: absolute;
  bottom: 30px;
  left: 30px;
  max-width: 365px;
  background: #fff;
  padding: 25px 25px 30px 25px;
  border-radius: 15px;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.384);
  text-align: center;
}
.cookwrapper.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
::selection{
  color: #fff;
  background: #9bc540;
}
.cookwrapper img{
  width: 150px;
  height: auto;
}

.cookwrapper2 .cookcontent .stmsg{
	text-align: left;
}
.cookcontent header{
  font-size: 25px;
  font-weight: 600;
}
.cookcontent{
  margin-top: 10px;
}
.cookcontent p{
  color: #858585;
  margin: 5px 0 20px 0;
}
.cookcontent .cookbuttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cookbuttons button{
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background: #9bc540;
  cursor: pointer;
  transition: all 0.3s ease;
}
.cookbuttons button:hover{
  transform: scale(0.97);
}
.cookbuttons .item{
  margin: 0 10px;
}
.cookbuttons a{
  color: #9bc540;
}

 .sec-imgslider .animtxt{
     position: absolute;
     top :60%;
     left :15%;

 }
  .sec-imgslider .animtxt span{
	font-size: 3rem;
	color:#444;
  }
  .sec-imgslider .animtxt .offerspan{
	  padding-top: -2rem;
  }
  
  .sec-imgslider .animtxt h3 span{
	font-size: 1.2rem;
	color:#333;
  }
  /*.percen{
	animation: animate 1s linear infinite;
  }
  @keyframes animate {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.7;
	}

	100% {
		opacity: 0;
	}
}*/

.wrapper{
	position: relative;
	background:#355C7D;
	text-align:center;
	width: 100%;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.13);
	z-index: 10000;
}
.nav-area,
.nav-area ul{
	list-style: none;
	margin:0;
	padding: 0;
}
.nav-area li{
	position: relative;
}
.nav-area a{
	padding: 15px 20px;
	display: block;
	text-decoration:none;
	font-size: 18px;
	font-family: Tahoma ,sans-serif;
	text-transform: uppercase;
	color: #fff;
}
.nav-area a:hover{
	background:#00cdac;
}
.nav-area > li{
	text-shadow: 1px 1px #000;
	font-family: Tahoma(sans-serif);
	display: inline-block;
	vertical-align: top;
	margin-left: -4px;
}

/*.nav-area>li>img{
	position: relative;
	margin-top:0%;
	left:25%;
}*/


.nav-area>li:first-child{
	margin-left: 0%;
}

.arrow{
	border: solid white;
	text-shadow: 1px 1px #000;
  	border-width: 0 3px 3px 0;
  	display: inline-block;

  	padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav-area > li > ul{
	text-align:left;
	display: none;
	background: rgba(0,205,172,0.4);
	position: absolute;
	top:100%;
	left:0;
	width: 240px;
	z-index: 99999;
}
.nav-area > li > ul > li > ul{
	text-align:left;
	display: none;
	background: rgba(0,205,172,0.4);
	position: absolute;
	left:100%;
	top:0;
	z-index: 9999999999;
}


/*new change*/
.category .box-container{
	display: inline-flex;
	gap:3.4rem;
  }
  .category .box-container .box{
	position: relative;
	flex:1 1 23rem;
	height: fit-content;
	width: 100%;
	overflow: hidden;
	border:.1rem solid rgba(0,0,0,.3);
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  }
  


  #category{
	font-family: 'Roboto', sans-serif;
	margin:0; padding: 0%;
	box-sizing: border-box;
	text-transform: capitalize;
	outline: none; border:none;
	text-decoration: none;
	transition: all .2s linear;
  }

  .category .heading{
	position: relative;
	margin-top:10px;
	margin-left: 25px;
    text-align: center;
    width:340px;
	font-family: Trebuchet MS;
    border-left: .4rem solid var(--green);
	font-size: 2rem;
	color: rgb(6, 36, 0);
  }
  .category .box-container {
    padding: 2%;
}

.category .box-container .box img{
	width: 100%;
}
  
  .category .box-container .box .content{
	position: absolute;
	bottom: -5.5rem;
	background: #fff;
	border-top:.1rem solid rgba(0,0,0,.3);
	padding:.5rem 0;
	text-align: center;
	width:100%;
  }
  
  /*.category .box-container .box:hover .content{
	bottom:0;
  }*/
  
  
  .shpnow{
	  background-color: #9bc540;
	  color: #fff;
	  padding: .8rem 3rem;
	  text-decoration: none;
	  font-size: 1.7rem;
  	  cursor: pointer;
  }
  .content .shpnow{
	  font-size: 1.1rem;
	  padding: .1rem 1rem;
  }
  .box .shpnow{
    font-size: 0.8rem;
    padding: .5rem 1rem;
  }

  .shpnow:hover{
	background-color:#333;
  }

  .category .box-container .box .content h3{
	color:#333;
	font-size: 1.6rem;
	padding:.5rem 0;
  }
  
  .category .box-container .box .content .btn{
	margin-bottom: 1.3rem;
  }

.sec-imgslider{
	width: 1110px;
	height: 570px;
	margin-top: 2%;
	margin-left: 10%;
	overflow-x: hidden;
	box-shadow: -1px 4px 28px 5px rgba(0,0,0,0.75);
}
.sec-imgslider::-webkit-scrollbar {
  display: none;
}

.slider{
	width: 3500px;
	height: 2000px;
	position:relative;
}
.sli-img{
	max-width:100%;
	max-height: 100%;
	position:absolute;
	opacity: 0;
}
.active{
	opacity: 1;
}



/*new edits downher*/

.cartlogo{
  margin-left: 50px;
  margin-top: 6px;
}

.catdivision{
    padding-left: 4%;
}


  .product .heading{
	position: relative;
	margin-top:10px;
	margin-left: 80px;
    text-align: center;
    width:275px;
	font-family: Trebuchet MS;
    border-left: .4rem solid var(--green);
	font-size: 2rem;
	color: rgb(6, 36, 0);
  }


  .pl1,
  .pl2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .product .box-container .box{
    /* background:linear-gradient(to right,#ff99667e,#ff5e627e);  */
     background:linear-gradient(to right,#e5ffe396,#acc4a296); 
    border:.1rem solid rgba(0,0,0,.3);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    width:300px;
    height: 450px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .product .box-container .box img{
    height: 18rem;
    width:100%;
    background: linear-gradient(to bottom,rgb(245, 243, 243),rgb(240, 252, 235));
    border-bottom:.1rem solid rgba(0,0,0,.3);
    object-fit: cover;
  }
  
  .product .box-container .box .discount{
    position: absolute;
    top:1rem; left:1rem;
    background:rgba(0, 255, 0, 0.253);
    color:var(--green);
    font-size: 1rem;
    padding:.5rem 1rem;
  }
  
  /* .product .box-container .box .icons{
    position: absolute;
    top:1rem; right:-8rem;
    display: flex;
    flex-flow: column;
    background:#fff;
    border-radius: 5rem;
    padding:.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  }
  
  .product .box-container .box:hover .icons{
    right:1rem;
  }
  
  .product .box-container .box .icons a{
    height: 4rem;
    width:4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    color:#333;
    border-radius: 5rem;
    margin:.1rem;
  }
  
  .product .box-container .box .icons a:hover{
    color:#fff;
    background:var(--green);
  } 
  .product .box-container .box .stars i{
    color:gold;
    font-size: 2rem;
  }*/
  
  .product .box-container .box h3{
    color:#333;
    font-size: 1.5rem;
    margin-top: -5px;
  }
    
  .product .box-container .box .quantity{
    padding:0.5rem 0;
    margin-top: -20px;
  }
  
  .product .box-container .box .quantity span{
    font-size: 1rem;

  }
  
  .product .box-container .box .quantity input{
    font-size: 1rem;
    padding:.3.5rem;
    text-align: center;
    background:rgb(236, 252, 226);
  }
  
  .product .box-container .box .price{
    font-weight: bolder;
    color:var(--green);
    font-size: 1rem;

  }
  
  .product .box-container .box .price span{
    text-decoration: line-through;
    color:#999;
    font-size: 0.7rem;
  }
  
  /* .product .box-container .box .btn{
    display: block;
    margin:1rem;
  } */
  